<!DOCTYPE html>
<html>
    <head>
    <title>Trabalho 1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--FEITO POR MIM-->

    <script>
        $().ready($(function() {
            $(".carousel").carousel({
                interval: 2000
            });
    }));
    </script>

    <link href="../../css/item.css" rel="stylesheet">
    </head>
    <body>

        <nav class="menu-navbar navbar navbar-expand-lg mb-4">
        <!--navbar: classe padrão do Bootstrap para criar uma navbar.
            navbar-expand-lg: torna o menu expansível (se adapta em telas pequenas).
            navbar-dark bg-dark: aplica um tema escuro.
            mb-4: margem inferior para afastar do conteúdo.-->

            <div class="container-fluid"><!-- container-fluid: ocupa toda a largura da tela.-->
                <a class="navbar-brand" href="../inicio/inicio.html">LibreriaHonyasan</a><!--navbar-brand: nome ou logo do site-->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item me-3">
                            <a class="nav-link active" aria-current="page" href="../inicio/inicio.html">Início</a>
                        </li>
                        <li class="nav-item dropdown me-3">
                            <a class="nav-link dropdown-toggle" href="../estoque/estoque.html" id="estoqueDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Estoque
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="estoqueDropdown">
                                <li><a class="dropdown-item" href="../estoque/estoque_livros.html">Livros</a></li>
                                <li><a class="dropdown-item" href="../estoque/estoque_discos.html">Discos</a></li>
                                <li><a class="dropdown-item" href="../estoque/estoque_total.html">Estoque Total</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Logout</a>
                        </li>
                    </ul>
                </div>
                
                <form class="navbar-form navbar-left" action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-outline-light" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>

        <div class="container">

            <h1 class="nome-livro">O cálice dos Deuses: Série Percy Jackson e os olimpianos - Rick Riordan</h1>
            <h2><strong>R$42,38</strong></h2>

            <div class="row">

                <div class="col-md-6">
                    <div id="carrossel-imagens" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carrossel-imagens" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carrossel-imagens" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carrossel-imagens" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://m.media-amazon.com/images/I/61+2RRstscL._SY466_.jpg" class="d-block w-100" alt="segredos">
                            </div>
                            <div class="carousel-item">
                                <img src="https://m.media-amazon.com/images/I/51IYT3TtkUL._SY466_.jpg" class="d-block w-100" alt="segredos">
                            </div>
                            <div class="carousel-item">
                                <img src="https://m.media-amazon.com/images/I/61gIXIe90TL._SY466_.jpg" class="d-block w-100" alt="segredos">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carrossel-imagens" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carrossel-imagens" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Próximo</span>
                        </button>
                    </div>
                </div>

                <div class="col-md-4">
                    
                    <div class="texto-lateral">
                        <h3><strong>Informações Gerais</strong></h3>
                        <p><strong>Título:</strong> O cálice dos Deuses: Série Percy Jackson e os olimpianos</p>
                        <p><strong>Autor:</strong> Rick Riordan</p>
                        <p><strong>Idioma:</strong> Português</p>
                        <p><strong>Páginas:</strong> 272</p>
                        <p><strong>Editora:</strong> Intrínseca</p>
                        <p><strong>Data Publicação:</strong> 26 setembro 2023</p>
                        <p><strong>Quantidade Estoque:</strong> 7</p>

                        <h3><strong>Descrição</strong></h3>
                        <p>Depois de salvar o mundo inúmeras vezes, tudo que Percy Jackson deseja é que seu último ano do ensino médio seja tranquilo.
                            Infelizmente, os deuses têm outros planos para o jovem herói.
                        </p>
                    </div>

                </div>
            </div>

            <!-- Botões de contato -->
            <div class="botoes mt-4">

                <a href="../formulario/formulario_editar_livros.html" class="btn botao-editars">
                    <i class="bi bi-pen"></i>
                    <span><strong>Editar</strong></span>
                </a>

            </div>
            
            <div class="sinopse">
                <h3><strong>Sinopse</strong></h3>
                <p>Após quase dez anos de espera, os fãs do semideus mais amado ― e azarado ― da literatura já podem comemorar: Percy Jackson está de volta! No aguardado novo título da série Percy Jackson e os olimpianos , que chega ao Brasil em lançamento simultâneo, o filho de Poseidon se prepara para uma de suas missões mais difíceis até agora: entrar na faculdade.
                Depois de salvar o mundo inúmeras vezes de monstros, titãs, gigantes e outras criaturas aterrorizantes, tudo que Percy deseja é que seu último ano no ensino médio seja tranquilo. Infelizmente, os deuses têm outros planos para o jovem herói. Se ele quiser mesmo entrar na universidade, terá que cumprir três missões para conquistar três cartas de recomendação vindas diretamente do Monte Olimpo.
                A primeira missão envolve ajudar o copeiro de Zeus a recuperar seu cálice antes que ele caia nas mãos erradas. Será que Percy, Annabeth e Grover conseguirão achar o cálice dos deuses a tempo?
                Unindo aventura, ação e mitologia grega a personagens apaixonantes e tramas hilárias, a série Percy Jackson e os olimpianos transformou a literatura jovem nos últimos anos e conquistou fãs no mundo inteiro. A história de Rick Riordan sobre um adolescente com TDAH que descobre ser filho do deus do mar e precisa navegar entre o mundo humano e o divino se tornou um best-seller e formou uma geração de leitores apaixonados que até hoje acompanham a saga de Percy e seus amigos. O sucesso da série chegou também às telas, em uma adaptação da plataforma de streaming Disney+ com estreia prevista para 2024.</p>
            </div>
            
        </div>
    
</body>
</html>
